       
/*Navbar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;

}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
	top: 0;
	z-index: 999;
	
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
	
}

#navbar__logo {
	background-color: #ff8177;
	background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
}

.navbar__menu {
	display: flex;
	align-items: center;
	list-style:none;
}


.navbar__item {
	height: 80px;
	
}

.navbar__links {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width:125px;
	text-decoration: none;
	height: 100%;
	transition: all 0.3s ease;
	text-align: center;
}

.navbar__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
	
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 4px;
	background: #833ab4;
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4 );
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4 );
	color: #fff;
	transition: all 0.3s ease;
	
		
}



.navbar__links:hover {
	color: #9518fc;
	transition: all 0.3s ease;
	text-align: center;
	
}

@media screen and (max-width: 960px) {
	.navbar__container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
		
	}
	
	.navbar__menu {
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 1;
		transition: all 0.5s ease;
		z-index:-1;
		
	}
	.navbar__menu.active {
		background: #131313;
		top: 100%;
		opacity:1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 60vh;
		font-size: 1.6rem;
		
		
	}
	
	#navbar__logo {
		padding-left: 25px;
		
	}
	.navbar__toggle .bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: #fff;	
	}
	.nav__item {
		width: 100%;
		
	}
	.nav__links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
		
	} 
	.navbar__btn {
		padding-bottom: 2rem;
		
	}
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 80px;
		margin: 0;
		
	}
	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}
	.navbar__toggle .bar {
		display: block;
		cursor: pointer;
	}
	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
		
	}
	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
		
	}#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
		
	}
}



/* portpolio */
        .pull-left {
            float: left
        }
        
        .pull-right {
            float: right
        }
        
        .clearfix:after,
        .clearfix:before {
            content: '';
            display: table
        }
        
        .clearfix:after {
            clear: both;
            display: block
        }
        
        .profile-card-wrap .content:before,
        .profile-card-wrap .link-info .photo:after {
            content: '';
            position: absolute;
        }
        
        .profile-card-wrap {
            top: 50%;
            left: 50%;
            width: 500px;
            height: 275px;
            perspective: 800px;
            position: relative;
            margin-left: -250px;
            margin-top: -137.5px;
        }
        
        .profile-card-wrap .content {
            width: 375px;
            padding: 30px;
            height: inherit;
            position: relative;
            backface-visibility: hidden;
            background: rgba(255, 255, 255, .5);
            border: 1px solid rgba(0, 0, 0, .35);
            transform: rotateY(180deg);
            transition: transform .4s ease-in-out 0s;
        }
        
        .profile-card-wrap .content:before {
            top: 50%;
            right: 40px;
            height: 30px;
            font-size: 18px;
            border: inherit;
            padding: 2px 8px;
            margin-top: -10px;
            line-height: 24px;
            background: inherit;
            content: attr(data-text);
            backface-visibility: visible;
            transform: rotateY(-180deg) scale(1);
            transition: transform .4s ease-in-out 0s;
            text-shadow: 1px 1px 0 rgba(255, 255, 255, .45);
        }
        
        .profile-card-wrap .content .title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        
        .profile-card-wrap .content p {
            margin: 0;
            max-width: 190px;
            line-height: 24px;
            text-align: center;
        }
        
        .profile-card-wrap .link-info {
            top: 50%;
            right: 35px;
            width: 180px;
            height: 180px;
            margin-top: -90px;
            position: absolute;
        }
        
        .profile-card-wrap .link-info .social {
            top: 50%;
            right: 50%;
            z-index: 1;
            width: 35px;
            height: 35px;
            position: absolute;
            margin-top: -17.5px;
            margin-right: -17.5px;
        }
        
        .profile-card-wrap .link-info .social .link {
            color: #fff;
            width: 35px;
            height: 35px;
            transform: none;
            line-height: 33px;
            text-align: center;
            position: absolute;
            border-radius: 50%;
            border: 1px solid #444;
            box-shadow: 0 3px 4px rgba(47, 66, 81, .75);
            transition: all .3s cubic-bezier(0.680, 1.550, 0.265, 1);
        }
        
        .profile-card-wrap .link-info .social .fb {
            background: #3b5a9a;
            border-color: #384f76;
        }
        
        .profile-card-wrap .link-info .social .tw {
            background: #29a9e1;
            border-color: #2a7a9b;
        }
        
        .profile-card-wrap .link-info .social .cp {
            background: #000000;
            border-color: #474848;
        }
        
        .profile-card-wrap .link-info .social .pi {
            background: #cd2129;
            border-color: #942825;
        }
        
        .profile-card-wrap .link-info .social .li {
            background: #117bb8;
            border-color: #1c5d7d;
        }
        
        .profile-card-wrap .link-info .social .yt {
            background: #cb312e;
            border-color: #933532;
        }
        
        .profile-card-wrap .link-info .social .gp {
            background: #df4b38;
            border-color: #974336;
        }
        
        .profile-card-wrap .link-info .photo {
            z-index: 2;
            width: inherit;
            height: inherit;
            overflow: hidden;
            position: relative;
            border-radius: 50%;
            border: 5px solid #fff;
            transform: scale(.6);
            background: url(designer.jpg) no-repeat center / cover;
            box-shadow: 0 0 2px, 0 5px 5px rgba(47, 66, 81, .75);
            transition: transform .5s ease-in-out 0s;
        }
        
        .profile-card-wrap .link-info .photo:after {
            width: 170px;
            height: 170px;
            border-radius: inherit;
            background: rgba(54, 106, 157, .2);
        }
        
        .profile-card-wrap .check {
            display: none
        }
        
        .profile-card-wrap .toggle {
            top: 50%;
            z-index: 5;
            left: -20px;
            width: 40px;
            height: 40px;
            color: #031b21;
            cursor: pointer;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            margin-top: -15px;
            border-radius: 50%;
            position: absolute;
            background: #fff;
            -webkit-user-select: none;
            box-shadow: 0 4px 4px #333;
            transition: color, background, transform .1s ease-in-out 0s;
        }
        
        .profile-card-wrap .check:checked+.toggle {
            color: #fff;
            background: #031b21;
            transform: rotate(135deg);
            box-shadow: 2px -2px 4px #333;
        }
        
        .profile-card-wrap .check:checked+.toggle+.content {
            transform: rotateX(0);
        }
        
        .profile-card-wrap .check:checked+.toggle+.content:before {
            backface-visibility: hidden;
            transform: rotateX(-180deg) scale(0);
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .link {
            transform: none;
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .link:nth-child(1) {
            transform: translate(30px, -120px)
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .link:nth-child(2) {
            transform: translate(80px, -100px)
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .link:nth-child(3) {
            transform: translate(115px, -55px)
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .link:nth-child(4) {
            transform: translate(125px, 0)
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .link:nth-child(5) {
            transform: translate(115px, 55px)
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .link:nth-child(6) {
            transform: translate(80px, 100px)
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .link:nth-child(7) {
            transform: translate(30px, 120px)
        }
        
        .profile-card-wrap .check:checked+.toggle+.content+.link-info .photo {
            transform: scale(1);
            animation: bounceIn .4s;
        }
        
        @keyframes bounceIn {
            0%,
            20%,
            40%,
            60%,
            80%,
            100% {
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
            }
            0% {
                opacity: 0;
                transform: scale3d(.3, .3, .3)
            }
            20% {
                transform: scale3d(1.1, 1.1, 1.1)
            }
            40% {
                transform: scale3d(.9, .9, .9)
            }
            60% {
                opacity: 1;
                transform: scale3d(1.03, 1.03, 1.03)
            }
            80% {
                transform: scale3d(.97, .97, .97)
            }
            100% {
                opacity: 1;
                transform: scale3d(1, 1, 1)
            }
        }

.gallery {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotateY(35deg) rotateZ(10deg);
    }
    100% {
        transform: perspective(1000px) rotateX(360deg) rotateY(35deg) rotateZ(10deg);
    }
}

.gallery span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateX(calc(var(--i) * 45deg)) translateZ(300px);   
}
.gallery span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}