sky {
  display: block;
  background: black;
  width: 100vw;
  height: 73vh;
}

star {
  border-radius: 50%;
  background: white;
  position: absolute;
  -webkit-animation: star linear infinite;
          animation: star linear infinite;
}
star:nth-child(1) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  top: 400vh;
}
star:nth-child(2) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
  -webkit-animation-delay: -22s;
          animation-delay: -22s;
  top: 100vh;
}
star:nth-child(3) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: -31s;
          animation-delay: -31s;
  top: 265vh;
}
star:nth-child(4) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  top: 198vh;
}
star:nth-child(5) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  top: 139vh;
}
star:nth-child(6) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  -webkit-animation-delay: -28s;
          animation-delay: -28s;
  top: 194vh;
}
star:nth-child(7) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 39s;
          animation-duration: 39s;
  -webkit-animation-delay: -38s;
          animation-delay: -38s;
  top: 97vh;
}
star:nth-child(8) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -34s;
          animation-delay: -34s;
  top: 60vh;
}
star:nth-child(9) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  -webkit-animation-delay: -34s;
          animation-delay: -34s;
  top: 44vh;
}
star:nth-child(10) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-delay: -37s;
          animation-delay: -37s;
  top: 95vh;
}
star:nth-child(11) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  top: 143vh;
}
star:nth-child(12) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  top: 165vh;
}
star:nth-child(13) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 29s;
          animation-duration: 29s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
  top: 264vh;
}
star:nth-child(14) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-delay: -26s;
          animation-delay: -26s;
  top: 317vh;
}
star:nth-child(15) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: -36s;
          animation-delay: -36s;
  top: 309vh;
}
star:nth-child(16) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  top: 401vh;
}
star:nth-child(17) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 520vh;
}
star:nth-child(18) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  top: 460vh;
}
star:nth-child(19) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-delay: -28s;
          animation-delay: -28s;
  top: 266vh;
}
star:nth-child(20) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  top: 282vh;
}
star:nth-child(21) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  top: 170vh;
}
star:nth-child(22) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 37s;
          animation-duration: 37s;
  -webkit-animation-delay: -25s;
          animation-delay: -25s;
  top: 176vh;
}
star:nth-child(23) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  -webkit-animation-delay: -22s;
          animation-delay: -22s;
  top: 272vh;
}
star:nth-child(24) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  top: 372vh;
}
star:nth-child(25) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  top: 482vh;
}
star:nth-child(26) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -38s;
          animation-delay: -38s;
  top: 4vh;
}
star:nth-child(27) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  top: 74vh;
}
star:nth-child(28) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  top: 11vh;
}
star:nth-child(29) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  top: 453vh;
}
star:nth-child(30) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: -33s;
          animation-delay: -33s;
  top: 377vh;
}
star:nth-child(31) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  top: 31vh;
}
star:nth-child(32) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 29s;
          animation-duration: 29s;
  -webkit-animation-delay: -25s;
          animation-delay: -25s;
  top: 63vh;
}
star:nth-child(33) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  top: 159vh;
}
star:nth-child(34) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  top: 278vh;
}
star:nth-child(35) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  top: 66vh;
}
star:nth-child(36) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
  top: 78vh;
}
star:nth-child(37) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
  -webkit-animation-delay: -27s;
          animation-delay: -27s;
  top: 91vh;
}
star:nth-child(38) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
  top: 146vh;
}
star:nth-child(39) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-delay: -22s;
          animation-delay: -22s;
  top: 125vh;
}
star:nth-child(40) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 37s;
          animation-duration: 37s;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  top: 136vh;
}
star:nth-child(41) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  top: 22vh;
}
star:nth-child(42) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  top: 23vh;
}
star:nth-child(43) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -29s;
          animation-delay: -29s;
  top: 360vh;
}
star:nth-child(44) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  -webkit-animation-delay: -37s;
          animation-delay: -37s;
  top: 476vh;
}
star:nth-child(45) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  top: 565vh;
}
star:nth-child(46) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  top: 415vh;
}
star:nth-child(47) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  top: 389vh;
}
star:nth-child(48) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  top: 199vh;
}
star:nth-child(49) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  top: 155vh;
}
star:nth-child(50) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  top: 219vh;
}
star:nth-child(51) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  top: 181vh;
}
star:nth-child(52) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  top: 148vh;
}
star:nth-child(53) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  -webkit-animation-delay: -34s;
          animation-delay: -34s;
  top: 110vh;
}
star:nth-child(54) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 38s;
          animation-duration: 38s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  top: 95vh;
}
star:nth-child(55) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 37s;
          animation-duration: 37s;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  top: 53vh;
}
star:nth-child(56) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  top: 84vh;
}
star:nth-child(57) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  top: 94vh;
}
star:nth-child(58) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
  -webkit-animation-delay: -26s;
          animation-delay: -26s;
  top: 80vh;
}
star:nth-child(59) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-delay: -25s;
          animation-delay: -25s;
  top: 80vh;
}
star:nth-child(60) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 37s;
          animation-duration: 37s;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  top: 60vh;
}
star:nth-child(61) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  top: 35vh;
}
star:nth-child(62) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 37s;
          animation-duration: 37s;
  -webkit-animation-delay: -37s;
          animation-delay: -37s;
  top: 60vh;
}
star:nth-child(63) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: -37s;
          animation-delay: -37s;
  top: 14vh;
}
star:nth-child(64) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  top: 19vh;
}
star:nth-child(65) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
  top: 39vh;
}
star:nth-child(66) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-delay: -39s;
          animation-delay: -39s;
  top: 94vh;
}
star:nth-child(67) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  top: 39vh;
}
star:nth-child(68) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 23s;
          animation-duration: 23s;
  -webkit-animation-delay: -38s;
          animation-delay: -38s;
  top: 28vh;
}
star:nth-child(69) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  top: 11vh;
}
star:nth-child(70) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
  -webkit-animation-delay: -36s;
          animation-delay: -36s;
  top: 69vh;
}

@-webkit-keyframes star {
  from {
    transform: translate3d(-100%, 0, 1px);
  }
  to {
    transform: translate3d(100vw, 0, 1px);
  }
}

@keyframes star {
  from {
    transform: translate3d(-100%, 0, 1px);
  }
  to {
    transform: translate3d(100vw, 0, 1px);
  }
}