* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.gallery {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotateY(35deg) rotateZ(10deg);
    }
    100% {
        transform: perspective(1000px) rotateX(360deg) rotateY(35deg) rotateZ(10deg);
    }
}

.gallery span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateX(calc(var(--i) * 45deg)) translateZ(300px);   
}
.gallery span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}